.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition: 2s;
}





.ex-2-square:active{
    width: 100%;
}


.ex-2-square{
    transition: 2s;
}






.ex-3-square:hover{
    border-radius: 50%;
}

.ex-3-square{
    transition: 0.5s;
}




.ex-4-square:hover{
    opacity: 0;
}

.ex-4-square{
    transition: 2s;
}




.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square{
    transition: 2s;
}

.ex-5-square:active{
    transform: scale(0.5);
}







.ex-6-img:hover{
    filter: grayscale(100%);
}




.ex-7-img:hover{
    filter:sepia(0.8);
    filter: hue-rotate(90deg);
} 

.ex-7-img{
    transition: 2s;
}




.ex-8-img:hover{
    filter: sepia(0.8) opacity(0.4);
    border-radius: 10%;
}


.ex-8-img{
    transition: 2s;
}



.ex-9-img:hover{
    filter: brightness(0.25) grayscale(1);
    border-radius: 10px;
    transform: scale(1.4);
}

.ex-9-img{
    transition: 2s;
}



.ex-10-icon{
    animation: rotate 1s linear infinite;
    
}


@keyframes rotate{
    0%{
     transform: rotate(1turn);
    }
}
